# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# python environment
env
venv 
# local env files
.env*.local
.env
# vercel
.vercel

# __pycache__
/api/__pycache__/*.pyc

# typescript
*.tsbuildinfo
next-env.d.ts
api/__pycache__/*.pyc
./api/__pycache__/*.pyc
./api/src/__pycache__/*.pyc
api/__pycache__
api/src/__pycache__

# Removing python dependencies
prisma-scripts
./api
requirements.txtA
# Removing Model Insights Page
./app/(dashboard)/(model-insights)